In [1]:
import pandas as pd

In [6]:
s1 = pd.Series([89,90,67,89,54])

In [10]:
type(s1)
s1

0    89
1    90
2    67
3    89
4    54
dtype: int64

In [14]:
s2 = pd.Series([89,90,67,89,54],index = ["Akhileshwar","Sahasra","Harry","Ali","Koushik"])

In [15]:
print(s2)

Akhileshwar    89
Sahasra        90
Harry          67
Ali            89
Koushik        54
dtype: int64

In [18]:
print(s2["Sahasra"])

90

In [20]:
print(s2["Akhileshwar"])

89

In [5]:
data = {
    "ID":[1,2,3,4,5],
    "Name":["Alice Brown","Raj Verma","Sara Khan","John Smith","Priya Patel"],
    "Join Date":["2023-02-14","2022-11-05","2024-06-18","2021-09-22","2023-12-01"],
    "Score":[87,92,78,95,81],
    "Status":["Active","Active","Pending","Active","Inactive"]
}

In [6]:
df = pd.DataFrame(data)

In [7]:
df

   ID         Name   Join Date  Score    Status
0   1  Alice Brown  2023-02-14     87    Active
1   2    Raj Verma  2022-11-05     92    Active
2   3    Sara Khan  2024-06-18     78   Pending
3   4   John Smith  2021-09-22     95    Active
4   5  Priya Patel  2023-12-01     81  Inactive

In [8]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
df.columns

Index(['ID', 'Name', 'Join Date', 'Score', 'Status'], dtype='object')

In [10]:
type(df)

pandas.core.frame.DataFrame