In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data1.csv")

In [3]:
df

,Actor,Film,Year,Genre,BoxOffice (INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,7.0
8,Akshay Kumar,Good Newwz,2019,Comedy,318,6.5
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,7.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [4]:
df["Actor"]

0         Shah Rukh Khan
1            Salman Khan
2             Aamir Khan
3          Ranbir Kapoor
4          Ranveer Singh
5     Ayushmann Khurrana
6          Rajkummar Rao
7         Hrithik Roshan
8           Akshay Kumar
9          Kartik Aaryan
10          Varun Dhawan
11         Vicky Kaushal
Name: Actor, dtype: object

In [6]:
df[["Actor","IMDb"]]

                 Actor  IMDb
0       Shah Rukh Khan   7.2
1          Salman Khan   6.0
2           Aamir Khan   8.4
3        Ranbir Kapoor   5.6
4        Ranveer Singh   7.0
5   Ayushmann Khurrana   8.3
6        Rajkummar Rao   7.5
7       Hrithik Roshan   7.0
8         Akshay Kumar   6.5
9        Kartik Aaryan   7.0
10        Varun Dhawan   6.1
11       Vicky Kaushal   8.2

In [8]:
df.loc[0]

Actor                    Shah Rukh Khan
Film                            Pathaan
Year                               2023
Genre                            Action
BoxOffice (INR Crore)              1050
IMDb                                7.2
Name: 0, dtype: object

In [10]:
df.iloc[0]

Actor                    Shah Rukh Khan
Film                            Pathaan
Year                               2023
Genre                            Action
BoxOffice (INR Crore)              1050
IMDb                                7.2
Name: 0, dtype: object

In [17]:
df.loc[0:6,["Actor","Film"]]

                Actor             Film
0      Shah Rukh Khan          Pathaan
1         Salman Khan  Tiger Zinda Hai
2          Aamir Khan           Dangal
3       Ranbir Kapoor       Brahmastra
4       Ranveer Singh        Padmaavat
5  Ayushmann Khurrana        Andhadhun
6       Rajkummar Rao            Stree

In [20]:
df.iloc[0::2,0:6]

,Actor,Film,Year,Genre,BoxOffice (INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,6.5
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1